/* ============================================ */
/* ============================================ */
/*               ABOUT CSS STYLESHEET           */
/* ============================================ */
/******************* PAGE.HTML ******************/
/*************** Styling: Section ***************/
/***************** [ CSS Group ] ****************/
/***************** (  Remarks  ) ****************/
/* ============================================ */

/******************* UNIVERSAL ******************/
/****************** Wireframing *****************/
/* Personal Wreframing */
/* { border: 1px dashed red; }  */   
/** { box-sizing: border-box; }  /*Not needed because of bootsrap.min*/

/****************** ABOUT.HTML ******************/

/*********** Styling: Navigation Bar ***********/ 
.nav {
  /* Positioning */
  position: fixed;                      /* A1#6 */
  top: 0;                               /* A1#6 */
  z-index: 100;                  /* Own in A1#6 */

  /* Box-model */
  width: 100%;                          /* A1#6 */

  /* Visual */
  background-color: #3E3A00; /* A1#6 Changed  from black to own */
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  box-shadow: 0 1px 2px #ffb380, inset 0 1px 0 #fff; /*Own A1L6 */
}

.nav ul {
  /* Positioning */
  /* Box-model */
  float: right;                         /* A1#6 */
  margin: 0;                            /* A1#6 */
  /* Typography */
  /* Visual */
  /* Misc */
}

.nav ul li {
  /* Positioning */
  /* Box-model */
  display: inline-block;                /* A1#6 */
  padding: 20px 10px 20px;              /* A1#6 */

}

.nav ul li a {
  /* Positioning */
  /* Box-model */
  /* Typography */
  text-transform: uppercase;            /* A1#6 */
  letter-spacing: 0.05em;               /* A1#6 */
  /* Visual */
  color: #ffb380;                       /* A1#6 */
  /* Misc */
  transition: color 600ms;              /* A1#6 */
  -webkit-transition: color 600ms;      /* A1#6 */
}

.nav a:hover {
  color: #ff0;                          /* A1#6 */
  text-decoration: none;                /* A1#6 */
  border: 2px double #696200;    /* Own in A1#7 */
  border-style: double none;     /* Own in A1#7 */ 
}

/************* Styling: About Header ************/ 
.header {
  /* Positioning */
  /*position: relative;          /* Own in A1#4 */
  /*top: 38px;                   /* Own in A1#6 */
  
  /* Box-model */
  margin-bottom: 50px;                  /* A1#4 */
  padding-top: 7em;              /* Own in A1#6 */

  /* Typography */

  /* Visual */
  background-color: #ff9933;    /* Own in A1#4  */
} 

.header h1 {
  text-align: center;                   /* A1#4 */
  padding: 20px 0;               /* Own in A1#5 */
}

/*********** Styling: About Container ***********/ 
.container {
  /*position: relative;            /* Own in A1#4 */
  /*top: 2px;                      /* Own in A1#6 */
  width: 80%;                           /* A1#4 */
  margin: 0 auto;                       /* A1#4 */
  
}

/*** Styling: Nested Tags in About Container ****/ 
.image {
  display: inline-block;                /* A1#4 */
  float: left;	                        /* A1#4 */ 
}

.mypic {
  width: 100%;                          /* A1#4 */
}

.column {	
  display: inline-block;                /* A1#4 */
  float: left;                          /* A1#4 */
  width: 30%;                           /* A1#4 */
  padding: 0 20px;                      /* A1#4 */
}

.main-text {
  clear: both;                          /* A1#4 */
  padding-top: 60px;	                  /* A1#4 */
}

#skill-list {
  margin-left: 50px;                    /* A1#5 */
}

/***************** [ Typography ] ***************/

h1,
h2,
h3 {
  font-family: Futura, Helvetica, Arial, sans-serif; /* A1#5 */
} 

p,
li {
  font-family: Georgia, Times, 'Times New Roman', serif; /* A1#5 */
}

.header h1 {
  font-family: 'Bangers', cursive;/* Own in A1#5 */
}

.intro p {
  font-family: Futura, Helvetica, Arial, sans-serif; /* A1#5 */
  font-size: 3em;                        /* A1#5 */
  font-weight: 100;                      /* A1#5 */
  -webkit-margin-before: 0em;            /* A1#5 */
}

.skills h3 {
  text-align: center;                    /* A1#5 */
  text-transform: uppercase;             /* A1#5 */
}

/************ [ Background and Colours] **********/

body {
  background-color: #fffeea;             /* A1#5 */
  color: #34595e;                        /* A1#5 */
}

.skills {
  background-color: #5AD4C2;             /* A1#5 */
  color: #FFF;                           /* A1#5 */
  padding: 25px 0;                       /* A1#5 */
}

/******************** [ Visual] *****************/
.container {
  padding: 10px;                        /* A1#5 */
  margin: 10px;                         /* A1#5 */
  background-color: #f5f5f5;            /* A1#5 */
  border: 5px solid #696200;            /* A1#5 */
  border-radius: 10px;                  /* A1#5 */
}


