/* ============================================ */
/* ============================================ */
/*               MAIN CSS STYLESHEET            */
/* ============================================ */
/******************* PAGE.HTML ******************/
/*************** Styling: Section ***************/
/***************** [ CSS Group ] ****************/
/***************** (  Remarks  ) ****************/
/* Order:*/
/* unversal elements in order of being nested and order set from guidelines.*/
/* Very specific items last and have own order within.*/
/* Remember separation of concern: use different classes for different things.*/
/* ============================================ */

/******************* UNIVERSAL ******************/
/*************** [ Wireframing ] ****************/
/************ ( Personal Wireframing ) **********/
/* Personal Wreframing */
/** { border: 1px dashed red; }               ***/
/** { box-sizing: border-box; }  
/*Not needed because of bootsrap.min          ***/





/******************** [ Visual] ******************/

.main-text p {
  font-family: Georgia, Times, 'Times New Roman', serif; /* A1#5 */
}

.aboutpagejumbo h1 {
  font-family: 'Bangers', cursive;/* Own in A1#5 */
}

.intro-column p {
  font-family: Futura, Helvetica, Arial, sans-serif; /* A1#5 */
  /*font-size: 1em;                        /* A1#5 *//* Own in A1#9 */
  font-weight: 100;                      /* A1#5 */
  -webkit-margin-before: 0em;            /* A1#5 */
}

.skills-column h3 {
  text-align: center;                    /* A1#5 */
  text-transform: uppercase;             /* A1#5 */
}




/

/******* Small Screen NavBar Compansation *******/
@media (max-width: 520px) {
  .jumbotron {
    /* Box-model */
    padding: 7em 0;              /* Own inA1#9 */
  }

  .container-fluid {
    /* Box-model */
    padding: 9em 0;              /* Own inA1#9 */
  }
}










/*********** BORDERS ****************************/








/***************** [ Typography ] ****************/

#conceptcontainer h2 {
  font-family: 'Indie Flower', cursive; /* Own in A1#9 */
}

#workrowcontainer h2 {
  font-family: 'Indie Flower', cursive; /* Own in A1#9 */
  text-align: center;             /* Own in A1#9 */
}

#contactcontainer h2 {}           /* Own in A1#9 */
#contactcontainer p {}            /* Own in A1#9 */

#aboutcontainer h2 {}             /* Own in A1#9 */
#aboutcontainer p {}              /* Own in A1#9 */

/************ [ Positioning ] ********************/
/*.jumbotron {
/*  position: static;               /* Own in A1#7 */ 
/*  clear: both;                    /* Own in A1#7 */  
/*}




