/* ============================================ */
/* ============================================ */
/*                    NOTES                     */
/* ============================================ */
/********************* MAIN *********************/
/*************** Styling: Section ***************/
/***************** [ CSS Group ] ****************/
/***************** (  Remarks  ) ****************/
/* Order:*/
/* unversal elements in order of being nested and order set from guidelines.*/
/* Very specific items last and have own order within.*/
/* Remember separation of concern: use different classes for different things.*/
/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */
/* ============================================ */

/* ============================================ */
/* ============================================ */
/*               MAIN CSS STYLESHEET            */
/* ============================================ */
/******************* UNIVERSAL ******************/

/****************** Wireframing *****************/
/************ ( Personal Wireframing ) **********/
/* Personal Wreframing */
/* { border: 1px dashed red; } */
* { box-sizing: border-box; }             


/***************** [ Positioning ] **************/
body {
  background-color: #34595e;            /*A1#11 */
}

/****************** [ Box-model ] ***************/

.calculator-body {
  position: relative;                  /* A1#11 */
  top: 20px;                           /* A1#11 */
  max-width: 320px;                    /* A1#11 */
  /*height: 350px;                       /* A1#11 */
  padding: 3px;                        /* A1#11 */
  margin: 0 auto;                      /* A1#11 */

  /* Visual */
  background-color: #fff;    /* Own in A1#10 */
  
  border-radius: 6px;           /* Own in A1#10 */
}

.calculator-screen {
  height: 35px;                        /* A1#11 */
  margin-bottom: 2px;                  /* A1#11 */
  padding: 1px;                        /* A1#11 */

  /* Visual */
  background-color: #f5f5f5;    /* Own in A1#10 */
  border: 1px solid #696200;    /* Own in A1#10 */
  border-radius: 6px;           /* Own in A1#10 */
}


.calculator-button {
  display: inline-block;
  width: 71px;                          /* A1#11 */
  height: 71px;                         /* A1#11 */
  margin: 3px 2px;                          /* A1#11 */
  text-align: center;                  /* A1#11 */
  vertical-align: middle;               /* A1#11 */
  /*padding: 10px;                        /* A1#11 */

  /* Visual */
  background-color: #ffb380;    /* Own in A1#10 */
  border: 1px solid #ffb380;    /* Own in A1#10 */
  border-radius: 6px;           /* Own in A1#10 */
}

.calculator-button p {  
  line-height: 36px;      
}

